@import "../../node_modules/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

body {
  background-color: lightgray;
}

.active a {
  color: #4285f4 !important;
}

.title {
  color: #212529;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 88px;
}

.subtitle {
  color: #212529;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.imgTrick {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.imgTrickDetail {
  width: 100%;
  height: 40vw;
}

.buttonDetail {
  position: absolute;
  bottom: 0;
}

.cardfooter {
  background: transparent;
  border-top: 0px;
}

body {
  /* 
    background: repeat
    url("http://prettypoun.p.r.pic.centerblog.net/13852b7b.gif");
    */
  padding-bottom: 100px;
}
